@page "/"

<PageTitle>Home</PageTitle>

<h2>Hello, OpenAI :)</h2>
<br />
<p>
    This is a demonstration of how to use the power of OpenAI's ChatGPT to interpret data from a video.
</p>
<p>
    If you'd like, you can contact me through my <a href="https://www.linkedin.com/in/gustavo-tideman/" target="_blank">LinkedIn</a>.
</p>
<p>Gustavo Tideman Sartorio</p>